body {
  background: #F3F3F3;
  font-family: 'Gill Sans';
}

p {
  margin: 0 0 10px;
}

a, a:hover, a:focus {
  color: #121515;
}


/* Form */

.auth-forms {
  max-width:400px;
  margin:0 auto;
  padding:1px 25px 25px 25px;
}


/* Online Pressence */

.online {
  background: #99d04a;
}

/* Nav Bar */

.navbar {
  margin-bottom: 0px;
}

.title {
  text-align: center;
}

.img-circle.gravatar {
  width: 30px;
}

/* Panel */

.panel-title {
  font-weight: bold;
}

.img-browse {
  padding-top: 30px;
}

.panel-success > .panel-heading .badge {
  color: #0F9D58;
  background-color: #FFFFFF;
  font-size: 15px;
  margin-left: 5px;
}

.panel-warning > .panel-heading .badge {
  color: #FF5722;
  background-color: #FFFFFF;
  font-size: 15px;
  margin-left: 5px;
}

/* Task Header */

.price-tag {
  font-size: 40px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Task List */

.list-group .list-group-item .row-picture img {
  width: 50px;
  height: 50px;
}

.list-group .list-group-item .list-group-item-heading {
  color: rgba(0,0,0,.77);
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}

.list-group .list-group-item .row-content {
  float: left;
  margin-top: 0;
  width: 40%;
  width: calc(100% - 160px);
  height: 60px;
}

.list-group .list-group-item .payment {
  float: right;
  margin-top: 0;
  width: 85px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

.list-group .list-group-item .payment .status{
  font-size: 14px;
  position: absolute;
  padding: 5px;
  right: 5px;
  bottom: 5px;
  width: 90px;
  height: 25px;
}

.list-group-item-text {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 1.3;
}

.open {
  background-color: #03a9f4;
}

.assigned {
  background-color: #9e9e9e;
}

.completed {
  background-color: #9e9e9e;
}

/* Comments */

.well.well-sm.cmt {
  color: rgba(94, 94, 94, 1);
  font-size: 14px;
}

.cmt-title {
  font-weight: bold;
  text-decoration: underline;
}

.cmt-time {
  font-size: 12px;
}

.img-circle.comment.gravatar {
  width: 35px;
  margin-right: 5px;
}

.profile-card {
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  height: 400px;
  position: relative;
  box-shadow: 0 5px 10px 0 #999;
  margin: 20px 0;
  transition: box-shadow .5s;
}
.profile-card .crush {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  color: #EA4E85;
  display: none;
  transition: display .3s;
}
.profile-card:hover .crush {
  display: inline-block;
  transition: display .3s;
}
.profile-card:hover .crush i {
  text-shadow: none;
  transition: text-shadow .5s;
}
.profile-card:hover .crush i:hover {
  cursor: pointer;
  text-shadow: 0 2px 3px #666;
  transition: text-shadow .2s;
}
.profile-card:hover {
  box-shadow: 0 10px 20px 2px #999;
  transition: box-shadow .3s;
}
.profile-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 10px;
  background-color: rgba(234, 78, 133, 0.5);
  text-align: center;
  color: #fff;
}
.profile-info .name {
  font-size: 1.5em;
  font-weight: 500;
}

/**
 * Chat
 */

 @charset "utf-8";
 /* CSS Document */

 /* ---------- GENERAL ---------- */
/*
 body {
   background: #e9e9e9;
   color: #9a9a9a;
   font: 100%/1.5em "Droid Sans", sans-serif;
   margin: 0;
 }

 a { text-decoration: none; }

 fieldset {
   border: 0;
   margin: 0;
   padding: 0;
 }

 h4, h5 {
   line-height: 1.5em;
   margin: 0;
 }*/

 hr {
   background: #e9e9e9;
     border: 0;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     height: 1px;
     margin: 0;
     min-height: 1px;
 }

 img {
     border: 0;
     display: block;
     height: auto;
     max-width: 100%;
 }

 input {
   border: 0;
   color: inherit;
     font-family: inherit;
     font-size: 100%;
     line-height: normal;
     margin: 0;
 }

 p { margin: 0; }

 .clearfix { *zoom: 1; } /* For IE 6/7 */
 .clearfix:before, .clearfix:after {
     content: "";
     display: table;
 }
 .clearfix:after { clear: both; }

 /* ---------- LIVE-CHAT ---------- */

 #live-chat {
   bottom: 0;
   font-size: 12px;
   right: 24px;
   position: fixed;
   width: 300px;
 }

 #live-chat header {
   background: #293239;
   border-radius: 5px 5px 0 0;
   color: #fff;
   cursor: pointer;
   padding: 16px 24px;
 }

 #live-chat h4:before {
   background: #1a8a34;
   border-radius: 50%;
   content: "";
   display: inline-block;
   height: 8px;
   margin: 0 8px 0 0;
   width: 8px;
 }

 #live-chat h4 {
   font-size: 12px;
 }

 #live-chat h5 {
   font-size: 10px;
 }

 #live-chat form {
   padding: 24px;
 }

 #live-chat input[type="text"] {
   border: 1px solid #ccc;
   border-radius: 3px;
   padding: 8px;
   outline: none;
   width: 234px;
 }

 .chat-message-counter {
   background: #e62727;
   border: 1px solid #fff;
   border-radius: 50%;
   display: none;
   font-size: 12px;
   font-weight: bold;
   height: 28px;
   left: 0;
   line-height: 28px;
   margin: -15px 0 0 -15px;
   position: absolute;
   text-align: center;
   top: 0;
   width: 28px;
 }

 .chat-close {
   background: #1b2126;
   border-radius: 50%;
   color: #fff;
   display: block;
   float: right;
   font-size: 10px;
   height: 16px;
   line-height: 16px;
   margin: 2px 0 0 0;
   text-align: center;
   width: 16px;
 }

 .chat {
   background: #fff;
 }

 .chat-history {
   height: 252px;
   padding: 8px 24px;
   overflow-y: scroll;
 }

 .chat-message {
   margin: 16px 0;
 }

 .chat-message img {
   border-radius: 50%;
   float: left;
 }

 .chat-message-content {
   margin-left: 56px;
 }

 .chat-time {
   float: right;
   font-size: 10px;
 }

 .chat-feedback {
   font-style: italic;
   margin: 0 0 0 80px;
 }
