<div class="container dx" ng-init="getUser(uid)">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> PROFILE </h3>
        </div>
        <div class="panel-body">
           <div class="profile-userpic">
               <img src="{{user.gravatar}}" class="img-responsive" alt="">
           </div>
           <div class="profile-usertitle">
             <div class="profile-usertitle-name">
               <span>{{user.name}}</span><br>
               <span>{{user.username}}</span><br>
               <span>{{user.gender}}</span><br>
               <span>About: {{user.description}}</span>
               <span ng-hide="profile.username">You'll need a username before you can start looking for your crush.</span>
             </div>
           </div>
        </div>
        <div class="panel-footer" ng-if="currentUser.profile.$id === uid">
          <button class="btn btn-info pull-right" data-toggle="modal" data-target="#posModal">Edit</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-warning" ng-if="currentUser.profile.$id === uid">
            <div class="panel-heading">
              <h3 class="panel-title"> STATUS </h3>
            </div>
            <div class="panel-body">
              <div class="col-md-11">
                  <input type="text" class="form-control" placeholder="What's on your mind?" ng-if="currentUser.profile.$id === uid" ng-model="mind" ng-search="setMind(mind)" required>
              </div>
              <div class="col-md-1">
                  <img src="{{user.gravatar}}" class="img-responsive  img-circle" ng-if="currentUser.profile.$id === uid" width="50px">
              </div>
            </div>
          </div>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title"> UPDATES </h3>
            </div>
            <div class="panel-body">
              <div class="well well-md profile-usertitle-name" ng-if="minds.length === 0">
                <span>No Updates from this User at this time</span>
              </div>
            </div>
            <div class="panel-body" ng-repeat="message in minds | orderBy:'timestamp':true" ng-if="minds && minds.length > 0">
              <div class="col-md-1">
                <img src="{{user.gravatar}}" class="img-responsive  img-circle" width="50px">
              </div>
              <div class="col-md-11">
                <div class="well well-md profile-usertitle-name">
                  <span ng-if="editing !== message" ng-dblclick="currentUser.profile.$id === uid && openEditor(message)" ng-model="message.body">{{ message.body }}</span>

                  <span class="pull-right"> <span am-time-ago="message.timestamp"></span> &nbsp; <a class="pull-right" ng-if="currentUser.profile.$id === uid" ng-click="openEditor(message)">Edit</a> </span>

                  <form ng-if="(editing === message) && currentUser.profile.$id === uid" ng-submit="saveEdits(message)">
                     <input class="edit form-control" ng-trim="false" ng-model="message.body" >
                     <button class="btn btn-info"> submit</button>
                  </form>
                </div>
                <div ng-init="getComments(this)">
                  <div class="row" ng-repeat="com in comments">
                    <div class="col-md-12">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" src="{{com.gravatar}}" alt="icon">
                            </div>
                            <div class="row-content">
                                 <div class="least-content" am-time-ago="{{com.timestamp}}"></div>
                                 <span class="cmt-title">{{com.name}}: </span> <br>
                                 <span ng-if="editing !== com" ng-dblclick="currentUser.profile.$id === com.author && openEditor(com)" >{{com.body}}</span> <span class="pull-right" ><a  ng-if="currentUser.profile.$id === com.author" ng-click="openEditor(com)"> edit</a> <a ng-if="currentUser.profile.$id === com.author" ng-click="deleteComments(this, com)"> Delete</a></span>

                                 <form ng-if=" (editing === com) && currentUser.profile.$id === com.author" ng-submit="updateComment(this, com)">
                                   <input class="form-control" ng-trim="false" ng-model="com.body" >
                                   <button class="btn btn-info"> submit</button>
                                 </form>
                                 
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1">
                      <img ng-src="{{currentUser.profile.gravatar}}" class="img-circle comment gravatar">
                    </div>

                    <div class="col-md-11">
                      <form ng-submit="addComment(this, content); content='' ">
                        <input type="text" ng-model="content" cols="10" rows="3" class="form-control" placeholder="Write a comment..." required><br>
                        <span class="pull-right">
                          <input type="submit" class="btn btn-info" value="Comment">
                        </span>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentUser" ng-include="'users/partials/editProfile.html'"></div>
