<div class="container dx" ng-init="getUser(uid)">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> PROFILE </h3>
        </div>
        <div class="panel-body">
           <div class="profile-userpic">
               <img src="{{user.gravatar}}" class="img-responsive" alt="">
           </div>
           <div class="profile-usertitle">
             <div class="profile-usertitle-name">
               <span>{{user.name}}</span><br>
               <span>{{user.username}}</span><br>
               <span>{{user.gender}}</span><br>
               <span ng-hide="profile.username">You'll need a username before you can start looking for your crush.</span>
             </div>
           </div>
        </div>
        <div class="panel-footer" ng-if="currentUser.profile.$id === uid">
          <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#posModal">Edit</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title"> DIARIES </h3>
            </div>
            <div class="panel-body">
              <div class="col-md-11">
                  <input class="form-control" placeholder="Write something about me" ng-if="currentUser.profile.$id !== uid">
                  <input class="form-control" placeholder="Write something about yourself" ng-if="currentUser.profile.$id === uid">
              </div>
              <div class="col-md-1">
                  <img src="{{currentUser.profile.gravatar}}" class="img-responsive  img-circle" width="50px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="currentUser" ng-include="'users/partials/editProfile.html'"></div>
