<div id="live-chat">

  <header class="clearfix">
    <a href="" class="chat-close">x</a>
    <h4>{{user}}</h4>
    <span class="chat-message-counter">3</span>
  </header>

  <div class="chat">
    <div class="chat-history">
      <div class="chat-message clearfix" ng-repeat="(key, msg) in messages">
        <img ng-src="{{ getGravatar(msg.uid) }}" alt="" width="32" height="32">
        <div class="chat-message-content clearfix">
          <span class="chat-time" am-time-ago="msg.timestamp"></span>
          <h5>{{ getUsername(msg.uid) }}</h5>
          <p>{{msg.body}}</p>
        </div> <!-- end chat-message-content -->
      </div> <!-- end chat-message -->

      <hr>
    </div> <!-- end chat-history -->

    <p class="chat-feedback">Your partner is typing…</p>

    <form ng-submit="sendMessaage()">
      <fieldset>
        <input type="text" placeholder="Type your message…" autofocus ng-model="message">
        <input type="hidden">
      </fieldset>
    </form>
  </div> <!-- end chat -->

</div> <!-- end live-chat -->
